@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', helvetica, sans-serif;
	background-color: black;
}

.landing {
	width: 100%;
	height: 100%;
}

.bgVid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(background.png) no-repeat;
}

.landing-info {
	background-color: #eef0f2;
	padding: 20px;
	color: #dd9425;
	text-align: center;
	margin: auto;
	height: 100%;
	margin-top: 10%;
}

.type-select {
	margin: auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
}

.search-prompt {
	font-size: 20px;
	display: inline-block;
	vertical-align: 10px;
	margin-bottom: 20px;
}

.stop-btn {
	position: absolute;
	bottom: 5px;
	right: 0px;
	font-size: 8px;
}

.stop-btn button {
	background: transparent;
	border: none;
	color: white;
	font-style: italic;
}

.landing-dd:focus {
	background-color: white;
}

.landing-form {
	width: 60%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

button:focus {
	outline: none;
}

.concert-artist {
	background-color: #d7d6d6;
	width: 30%;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 50px;
	height: 450px;
	overflow-y: hidden;
}

.concert-title {
	font-size: 20px;
}

.date, .artists, .address {
	font-size: 15px;
}
.event-name {
	font-weight: bold;
}

.venue-name {
	font-style: italic;
}

.result-head {
	margin-bottom: 20px;
}

.blank {
	font-size: 20px;
	text-align: center;
	margin-top: 5%;
}

.land-select {
	display: inline-block;
	margin: auto;
	margin-right: 5px;
	margin-left: 12px;
}

.brand {
	height: 10%;
	width: 5%;
}

@media screen and (max-width: 760px) {
	body {
		background: url(background.png) center center fixed no-repeat;
		height: 100%;
		z-index: -100;
	}

	.bgVid {
		display: none;
	}

	.stop-btn {
		display: none;
	}

	.landing-form {
		width: 90%;
	}

	.concert-artist {
		width: 80%;
		margin-right: 5%;
	}

	.landing-info {
		margin-top: 30%;
	}

	.navbar-nav {
		margin: auto;
		width: 60%;
		display: inline-block;
		padding-left: 15px;
	}

	.nav {
		padding-left: none;
	}

	.navbar-form {
		border-color: transparent;
		margin-bottom: 0px;
		margin-top: 0px;
		border-bottom: none;
		border-top: none;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	.navbar-header {
		display: inline-block;
	}

	.type-select {
		margin-left: none;
		float: left;
		display: inline-block;
		margin: auto;
		margin-right: 5px;
	}

	.brand {
		width: 10%;
	}
}

@media screen and (max-width: 968px) {
	.concert-artist {
		width: 40%;
		margin-right: 10%;
	}

	.landing-info {
		margin-top: 20%;
	}

	.brand {
		width: 10%;
	}
}

.table-bordered>thead>tr>th {
	border: 1px solid lightgray;
}

table {
	background-color: white;
}

.detail-top {
	margin-bottom: 20px;
}

.detail-top h2 {
	display: inline-block;
	margin-right: 50px;
}

.detail-top button {
	float: right;
	margin-right: 100px;
	transform: translateY(100%);
}

.heading, .sub-heading {
	margin-bottom: 0px;
}

.add-toggle {
	float: right;
	font-size: 40px;
	border: none;
	background-color: #d7d6d6;
}

.added-ico {
	color: #62a2c4;
}

.add-ico {
	color: green;
}

.name {
	display: inline-block;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #eef0f2;
}

.loading {
	font-size: 50px;
	text-align: center;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}

.navigation {
	background-color: #62a2c4;
	border: 0px;
	border-radius: 0px;
}

.content {
	padding: 10px;
}

#content, {
	height: 100%;
}

img.nav-logo {
	height: 80%;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	background-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}

nav.navbar-top {
	background-color: #62a2c4;
	border-bottom: 1px solid grey;
	height: 60px;
	width: 100%;
}

.search-bar {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 1%;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	float: left;
}

.nav-form {
	margin: 0px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.result-title {
	margin-bottom: 30px;
}

.results, .details {
	margin-top: 60px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
}

.results {
	height: 80vh;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

.result {
	border-top: 1px solid #d7d6d6;
	border-bottom: 1px solid #d7d6d6;
	padding-top: 15px;
	padding-bottom: 15px;
}

.result:hover {
	cursor: pointer;
}

.page-holder {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.pagination li.disabled a {
	color: #62a2c4;
	background-color: #eef0f2;
}

.pagination li a {
	color: #62a2c4;
	background-color: #eef0f2;
}

.pagination li.active a {
	color: #eef0f2;
	background-color: #62a2c4;
}

.title {
	font-weight: bold;
}

.result > p {
	margin: 0px;
}

.play-btn, .pause-btn {
	color: grey;
}

.play-btn:hover, .pause-btn:hover {
	cursor: pointer;
}

.track-title {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
}

.artist {
	text-align: center;
}

img.artist-img {
	max-width: 80%;
	max-height: 180px;
	margin-bottom: 10px;
	display: inline-block;
}

.footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #808080;
	color: white;
	border-top: 1px solid grey;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: white;
	text-decoration: none;
}

.love {
	color: red;
}

.table-responsive {
	height: 150px;
	overflow-y: scroll;
}

.created {
	color: green;
}

.play-created {
	display: inline-block;
	float: right;
	margin-right: 100px;
}

.failed {
	color: red;
}

.result-count {
	margin-bottom: 0px;
}

.page-nums {
	margin-bottom: 0px;
	margin-top: 0px;
}
