<!DOCTYPE html>
<html>
<head>
	<title>ConcertEarly – Get Hyped</title>
	<link rel="icon" type="image/png" href="static/favicon.png" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/styles.css" />
	<script src="https://use.fontawesome.com/1db56cea2f.js"></script>
</head>
<body>
	<div id="content"></div>
	<script type="text/javascript" src="static/dist/bundle.js"></script>
</body>
</html>