<!DOCTYPE html>
<html>
<head>
	<title>ConcertEarly</title>
	<link rel="icon" type="image/png" href="static/favicon.png" />
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="static/styles.css" />
</head>
<body>
	<div id="content"></div>
<!-- 	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a href="/" class="navbar-brand">ConcertEarly</a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Featured</a></li>
			</ul>
		</div>
	</nav>
	<div class="container" id="content">
		<div id="search">
			<form action="" method="POST">
				<div class="input-group">
					<div class="form-group">
						<input class="form-control" type="text" name="search" placeholder="Search..." />
					</div>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
					</span>
				</div>
				<select name="method">
					<option value="location">Location</option>
					<option value="venue">Venue</option>
					<option value="artist">Artist</option>
				</select>
			</form>
		</div>
	</div>
	{% if results %}
	<div class="container">
		<p>{{results}}</p>
	</div>
	{% endif %} -->
	<script type="text/javascript" src="static/dist/bundle.js"></script>
</body>
</html>